In [195]:
import csv
import pandas as pd
import numpy as np
import math

In [196]:
columns = [
  'rowID', 
  'speciesID',
  #'Critical_habitat',
  'sara_status', 
  'ranges',
  'locations', 
  '_threat_identified', 
  # 'iucn_impact', 
  # 'iucn_scope', 
  # 'iucn_severity',
  # 'iucn_timing',  
]

In [197]:
df = pd.read_csv('./CAN-SAR_database.csv',  encoding='ISO-8859-1', index_col=0)
climate_df = pd.read_csv('./climate.csv')
climate_variables = climate_df.columns[3:]

In [198]:
filtered_df = df[[col for col in df.columns if any(item in col for item in columns)]].copy()
filtered_df = filtered_df.sort_index()
#append climate_variables to the dataframe
filtered_df = filtered_df.reindex(columns=filtered_df.columns.tolist() + climate_variables.tolist())

In [199]:
filtered_df.dropna(subset=['ranges'], inplace=True)

In [200]:
def append_climate_data(df, id, col = 'ranges'): 
  row = df.loc[id]

  location = row[col].split(' ')
  for var in climate_variables:
    vals = []
    for loc in location: 
      if loc in climate_df['location'].values:
        vals.append(climate_df[climate_df['location'] == loc][var].values[0])
        
    if vals: 
      df.at[id, var] = np.mean(vals)
    
    if df.at[id, 'locations'] == 'NR': 
      df.at[id, 'locations'] = len(vals)
    
  
for i in filtered_df.index:
  append_climate_data(filtered_df, i)

In [201]:
filtered_df.dropna(subset = climate_variables, inplace=True)
filtered_df.drop(['ranges', 'locations'], axis=1, inplace=True)
filtered_df.replace('NE', 0, inplace=True)
filtered_df.replace(math.nan, 0, inplace=True)

In [202]:
filtered_df

,speciesID,sara_status,X1_threat_identified,X1.1_threat_identified,X1.2_threat_identified,X1.3_threat_identified,X2_threat_identified,X2.1_threat_identified,X2.2_threat_identified,X2.3_threat_identified,...,bio_18,bio_19,bio_2,bio_3,bio_4,bio_5,bio_6,bio_7,bio_8,bio_9
rowID,,,,,,,,,,,,,,,,,,,,,
2,394,Threatened,1,1,1,1,1,1,0,1,...,336.0,138.0,10.537500,21.922981,1324.77230,18.342001,-29.724,48.0660,10.083500,-20.301500
3,396,Endangered,1,0,0,1,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
10,1501,Special Concern,1,0,0,0,0,0,0,0,...,233.0,56.0,11.653750,24.392477,1323.87070,22.803000,-24.973,47.7760,15.477000,-14.246500
11,142,Special Concern,1,0,0,0,0,0,0,0,...,233.0,56.0,11.653750,24.392477,1323.87070,22.803000,-24.973,47.7760,15.477000,-14.246500
14,1039,Threatened,1,1,0,1,1,1,0,1,...,273.0,609.0,9.231999,33.109780,646.25070,16.535000,-11.348,27.8830,-1.914000,6.908667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,110,Special Concern,0,0,0,0,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
1029,359,Special Concern,1,1,0,0,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
1030,461,Special Concern,1,1,0,0,1,1,0,0,...,229.5,58.5,11.735126,23.363898,1424.60815,22.718500,-27.622,50.3405,14.897417,-17.599417
1031,380,Special Concern,1,1,1,0,0,0,0,0,...,273.0,609.0,9.231999,33.109780,646.25070,16.535000,-11.348,27.8830,-1.914000,6.908667
1032,492,Special Concern,1,1,1,0,1,1,0,1,...,299.0,140.0,11.790792,24.130681,1306.88885,21.164500,-27.631,48.7955,12.702750,-18.338916

In [203]:
Status = {
  'Endangered': 0,
  'Threatened': 1,
  'Special Concern': 2
}

filtered_df['sara_status'] = filtered_df['sara_status'].map(Status)
filtered_df.dropna(subset=['sara_status'], inplace=True)
filtered_df.value_counts('sara_status')

sara_status
0.0    267
2.0    170
1.0    140
dtype: int64

In [204]:
# Crtical_habitat = {
#   'N': 0,
#   'Y': 1,
#   'P': 2, 
#   np.nan: -1,
# }

# filtered_df['Critical_habitat'] = filtered_df['Critical_habitat'].map(Crtical_habitat)
# filtered_df.value_counts('Critical_habitat')

In [205]:
print(list(filtered_df.columns))

['speciesID', 'sara_status', 'X1_threat_identified', 'X1.1_threat_identified', 'X1.2_threat_identified', 'X1.3_threat_identified', 'X2_threat_identified', 'X2.1_threat_identified', 'X2.2_threat_identified', 'X2.3_threat_identified', 'X2.4_threat_identified', 'X3_threat_identified', 'X3.1_threat_identified', 'X3.2_threat_identified', 'X3.3_threat_identified', 'X4_threat_identified', 'X4.1_threat_identified', 'X4.2_threat_identified', 'X4.3_threat_identified', 'X4.4_threat_identified', 'X5_threat_identified', 'X5.1_threat_identified', 'X5.2_threat_identified', 'X5.3_threat_identified', 'X5.4_threat_identified', 'X6_threat_identified', 'X6.1_threat_identified', 'X6.2_threat_identified', 'X6.3_threat_identified', 'X7_threat_identified', 'X7.1_threat_identified', 'X7.2_threat_identified', 'X7.3_threat_identified', 'X8_threat_identified', 'X8.1_threat_identified', 'X8.2_threat_identified', 'X8.3_threat_identified', 'X8.4_threat_identified', 'X8.5_threat_identified', 'X8.6_threat_identified', 'X9_threat_identified', 'X9.1_threat_identified', 'X9.2_threat_identified', 'X9.3_threat_identified', 'X9.4_threat_identified', 'X9.5_threat_identified', 'X9.6_threat_identified', 'X10_threat_identified', 'X10.1_threat_identified', 'X10.2_threat_identified', 'X10.3_threat_identified', 'X11_threat_identified', 'X11.1_threat_identified', 'X11.2_threat_identified', 'X11.3_threat_identified', 'X11.4_threat_identified', 'X11.5_threat_identified', 'bio_1', 'bio_10', 'bio_11', 'bio_12', 'bio_13', 'bio_14', 'bio_15', 'bio_16', 'bio_17', 'bio_18', 'bio_19', 'bio_2', 'bio_3', 'bio_4', 'bio_5', 'bio_6', 'bio_7', 'bio_8', 'bio_9']

In [206]:
filtered_df.dropna(inplace=True)
filtered_df

,speciesID,sara_status,X1_threat_identified,X1.1_threat_identified,X1.2_threat_identified,X1.3_threat_identified,X2_threat_identified,X2.1_threat_identified,X2.2_threat_identified,X2.3_threat_identified,...,bio_18,bio_19,bio_2,bio_3,bio_4,bio_5,bio_6,bio_7,bio_8,bio_9
rowID,,,,,,,,,,,,,,,,,,,,,
2,394,1.0,1,1,1,1,1,1,0,1,...,336.0,138.0,10.537500,21.922981,1324.77230,18.342001,-29.724,48.0660,10.083500,-20.301500
3,396,0.0,1,0,0,1,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
10,1501,2.0,1,0,0,0,0,0,0,0,...,233.0,56.0,11.653750,24.392477,1323.87070,22.803000,-24.973,47.7760,15.477000,-14.246500
11,142,2.0,1,0,0,0,0,0,0,0,...,233.0,56.0,11.653750,24.392477,1323.87070,22.803000,-24.973,47.7760,15.477000,-14.246500
14,1039,1.0,1,1,0,1,1,1,0,1,...,273.0,609.0,9.231999,33.109780,646.25070,16.535000,-11.348,27.8830,-1.914000,6.908667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,110,2.0,0,0,0,0,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
1029,359,2.0,1,1,0,0,0,0,0,0,...,262.0,142.0,13.044084,26.338380,1289.00540,23.987000,-25.538,49.5250,15.322000,-16.376333
1030,461,2.0,1,1,0,0,1,1,0,0,...,229.5,58.5,11.735126,23.363898,1424.60815,22.718500,-27.622,50.3405,14.897417,-17.599417
1031,380,2.0,1,1,1,0,0,0,0,0,...,273.0,609.0,9.231999,33.109780,646.25070,16.535000,-11.348,27.8830,-1.914000,6.908667
1032,492,2.0,1,1,1,0,1,1,0,1,...,299.0,140.0,11.790792,24.130681,1306.88885,21.164500,-27.631,48.7955,12.702750,-18.338916

In [208]:
filtered_df.to_csv('filtered_data.csv', index=True)